######################
# Directories
######################
/bin/
/deploy/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/**
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath

######################
# ESLint
######################
.eslintcache

######################
# Gradle
######################
.gradle/
/build/
/out/
# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Logs
######################
*.log

######################
# Mac OSX
######################
.DS_Store
.svn
# Thumbnails
._*
# Files that might appear on external disk
.Trashes

######################
# Maven
######################
/log/
/target/
# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

######################
# NetBeans 
######################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
yarn-debug.log*
yarn-error.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Project Specific
######################
/build/www/**
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/

######################
# SASS
######################
.sass-cache/

######################
# Spring Tool Suite
######################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

######################
# Visual Studio Code
######################
.vscode/

######################
# Windows
######################
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
/.idea/javascript-playground.iml
